@font-face {
    font-family: "Playfair Display";
    src: url("assets/fonts/playfairdisplaysc-regular-webfont.woff2") format("woff2"), url("assets/fonts/playfairdisplaysc-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}


/* END OF CSS RESET */

body {
    background-image: url(./assets/images/coffee_image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffebd6;
    background-color: #160b00;
}

header {
    background-color: #160b00;
    height: 150px;
}

nav {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo h1 {
    font-size: 2rem;
    font-family: "Playfair Display", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.links {
    display: flex;
    gap: 2rem;
}

.links button {
    border: none;
    background-color: transparent;
    color: #ffebd6;
    font-size: 1.5rem;
    cursor: pointer;
}

.links button:hover {
    border-bottom: 3px solid #ffebd6;
}

.home-content {
    background-color: #160b00bf;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    width: 100vw;
    height: calc(100vh - 150px);
    margin: 0 auto;
    padding: 2rem;
}

.home-title {
    font-size: 3rem;
}

.home-btn {
    padding: 5px 20px;
    border: 2px solid #ffebd6;
    border-radius: 20px;
    background-color: #ffebd6;
    color: #160b00;
    font-weight: 700;
    cursor: pointer;
}

.menu-brew-img {
    height: 150px;
    width: 150px;
}

.menu-brewBg {
    background-color: #ffebd6;
    border-radius: 50%;
}

.menu-title {
    font-size: 1.1rem;
}

.menu-brewContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-brewWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    place-content: space-evenly;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.menu-content {
    width: 100vw;
    padding: 4rem 20vw;
    background-color: #160b00bf;
    min-height: 70vh;
}

.contacts-iconDetails {
    height: 30px;
}

.contacts-detailsWrapper {
    width: 70vw;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.contacts-map {
    height: 50vh;
    width: 70vw;
}